{% extends 'mainapp/profile/base.html' %}

{% block content %}

  <div id=app>
    <h1>Add New Hobbies {{ user }}</h1>
    <div class="full-screen d-flex align-items-center justify-content-center align-content-center text-center flex-column">
      <div class="container">
          <div class="card shadow mx-auto text-left m-3 p-4" style="width: 30rem; background-color: rgba(242, 240, 240, 0.8)">
              <h5 class="card-title pt-2 pb-4">Create A New Hobbie</h5>
              <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="hobbieName" class="form-label">Hobbie Name</label>
                      <input type="text" name="hobbieName" class="form-control" id="hobbieName" required>
                  </div>
                  <div class="mb-3">
                      <label for="hobbieDescription" class="form-label">Hobbie Description</label>
                      <textarea class="form-control" id="hobbieDescription" name="hobbieDescription" rows="8" cols="50" required></textarea>
                  </div>
                  <button type="button" @click="createHobbie()" class="btn btn-primary">Create Hobbie</button>
              </form>
          </div>
        </div>
    </div>

  </div>

{% endblock %}

{% block scripts %}
  <script>
    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        methods: {
        async createHobbie() {
          let data = {
            "hobbieName": document.getElementById("hobbieName").value,
            "hobbieDescription": document.getElementById("hobbieDescription").value,
          }
          let response = await fetch("{% url 'hobbie api' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                },
                body: JSON.stringify(data)
              });
          if (response.ok) {
            alert("Created Hobbie");
          } else {
            alert("Error: Hobbie Not Added")
          }
        },
        }
      })
    myApp.mount('#app')
  </script>
{% endblock %}
