{% extends 'mainapp/profile/base.html' %}

{% block content %}
  <div id=app>
    {% csrf_token %}
    <div class="full-screen mx-auto flex-column ">
      <div class="container mt-5 ">
        <div class="card shadow mx-auto align-items-center justify-content-center align-content-center" style="width: 75%; height: 100%; background-color: rgba(242, 240, 240, 0.8)">
          <h3 class="card-title m-5 text-center">Friend Requests</h3>
          <p v-if="requests.length == 0"class="text-center m-5" >You have no friend requests</p>
          <div v-if="requests.length > 0" class="table" style="width: 75%;">
            <table class="table mx-auto">
              <thead>
                <th scope="col">Username</th>
                <th scope="col" colspan="2">Actions</th>
              </thead>
              <tbody class="align-middle">
                <tr v-for="(request) in requests">
                  <td>
                    <a :href="request.profile">
                      [[ request.username ]]
                    </a>
                  </td>
                  <td>
                    <button @click="acceptFriendRequest(request)" type="button" class="btn btn-success">Accept</button>
                    <button @click="rejectFriendRequest(request)" type="button" class="btn btn-danger m-2">Reject</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
<script>
  let app = Vue.createApp({
    delimiters: ["[[", "]]"],
    data() {
      return {
        requests: []
      }
    },
    async created() {
      let response = await fetch("{% url 'friend request api' %}")
      if (response.ok) {
        data = await response.json()
        this.requests = data["data"]
        console.log(this.requests)
      }
    },
    methods: {
      async acceptFriendRequest(request) {
        let response = await fetch("{% url 'accept friend request' %}", {
          method: "PUT",                    
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
          },
          body: JSON.stringify({
            "friendToAdd": request['username']
          })
        })

        if(response.ok) {
          swal("Success", `You are now friends with ${request.username}`, 'success')
          this.requests = this.requests.filter(r => r.username != request.username)
        }
      },
      async rejectFriendRequest(request) {
        let response = await fetch("{% url 'reject friend request' %}", {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
          },
          body: JSON.stringify({
            "friendToDelete": request['username']
          })
        })

        if(response.ok) {
          this.requests = this.requests.filter(r => r.username != request.username)
        }
      }
    }
  })

app.mount("#app")
</script>
{% endblock %}
